<ion-header>
  <ion-toolbar color="default">
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="9" size-sm="4">
        <ion-item>
            <ion-ripple-effect>
            </ion-ripple-effect>
          <ion-icon name="swap-vertical" role="img" slot="start"></ion-icon>
            <ion-select interface="popover">
              <ion-select-option role="option">
              Created at (newest first)
              </ion-select-option>
              <ion-select-option role="option">
              Created at (oldest first)
              </ion-select-option>
              <ion-select-option role="option">
              Date (newest first)
              </ion-select-option>
              <ion-select-option role="option">
              Date (oldest first)
              </ion-select-option>
              <ion-select-option role="option">
              Name (A-Z)
              </ion-select-option>
              <ion-select-option role="option">
              Name (Z-A)
              </ion-select-option>
            </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="9" size-sm="4">
        <ion-item>
            <ion-ripple-effect>
            </ion-ripple-effect>
          <ion-icon class="md hydrated" name="swap-vertical" role="img" slot="start"></ion-icon>
          <ion-select interface="popover" placeholder="Categories">
            <ion-select-option></ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="9" size-sm="4" style="flex:10">
        <ion-item>
          <ion-icon name="search" role="img" slot="start">
          </ion-icon>
          <ion-input placeholder="Search">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list inset="true" role="list">
    <ion-item>
        <ion-label>
          No Expenses found
        </ion-label>
        <ion-icon slot="start" size="large" name="alert-circle-outline">
        </ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="md ion-cultivatable ion-focusable hydrated">
      <ion-icon name="add" role="img"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
