<ion-header>
  <ion-toolbar color="default">
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="9" size-sm="4">
        <ion-item>
            <ion-ripple-effect>
            </ion-ripple-effect>
          <ion-icon name="swap-vertical" role="img" slot="start"></ion-icon>
            <ion-select interface="popover" placeholder="Created at (newest first)">
              <ion-select-option role="option">
              Created at (newest first)
              </ion-select-option>
              <ion-select-option role="option">
              Created at (oldest first)
              </ion-select-option>
              <ion-select-option role="option">
              Date (newest first)
              </ion-select-option>
              <ion-select-option role="option">
              Date (oldest first)
              </ion-select-option>
              <ion-select-option role="option">
              Name (A-Z)
              </ion-select-option>
              <ion-select-option role="option">
              Name (Z-A)
              </ion-select-option>
            </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="9" size-sm="4">
        <ion-item>
          <ion-icon class="md hydrated" name="swap-vertical" role="img" slot="start"></ion-icon>
          <ion-select interface="popover" placeholder="Categories">
            <ion-select-option></ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="9" size-sm="4" style="flex:10">
        <ion-item>
          <ion-icon name="search" role="img" slot="start">
          </ion-icon>
          <ion-input placeholder="Search">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll [disabled]="lastPageReached || loading" (ionInfinite)="loadNextExpensePage($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="reloadExpenses($event)" [disabled]="loading">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Category List -->
  <ion-list [ngSwitch]="expenses?.length" inset="true">

    <!-- Skeleton -->
    <ng-container *ngSwitchCase="null">
      <ion-item *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
        <ion-label>
          <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ng-container>

    <!-- Empty List -->
    <ion-item *ngSwitchCase="0">
      <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
      <ion-label> No expenses found </ion-label>
    </ion-item>

    <!-- Expenses -->
    <ng-container *ngSwitchDefault>
      <ion-item
        button="true"
        *ngFor="let expenses of expenses"
        [detail]="true"
        [disabled]="loading"
        (click)="openModal(expenses)">
        <ion-label> {{expenses.name}} </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>

  <!--ion-Fab Button-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="openModal()">
      <ion-icon name="add" role="img"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- footer -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button type='button' (click)='addMonths(-1)'>
        <ion-icon slot='icon-only' name='arrow-back-outline'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ date | date:'MMMM yyyy' }}
    </ion-title>
    <ion-buttons slot='end'>
      <ion-button type='button' (click)='addMonths(1)'>
        <ion-icon slot='icon-only' name='arrow-forward-outline'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
