<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-progress-bar *ngIf="submitting" type="indeterminate"></ion-progress-bar>
    <ion-buttons slot='start' (click)='cancel()'>
      <ion-button color="medium" (click)="cancel()" [disabled]="submitting">
        <ion-icon slot='start' name="close-circle-outline"></ion-icon>
        Cancel
      </ion-button>
      <ng-template>Expense hinzufügen</ng-template>
    </ion-buttons>
    <ion-title>
      <div *ngIf="expense.id; else elseBlock">Edit Expense</div>
      <ng-template #elseBlock>Add Expense</ng-template>
    </ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)="save()" [disabled]="expenseForm.pristine || expenseForm.invalid || submitting">
        <ion-icon slot='start' name='save-outline'></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content class="ion-padding" [formGroup]="expenseForm">
  <ion-item>
    <ion-icon name="text" slot="start"></ion-icon>
    <ion-input placeholder="Enter the expense's name" formControlName='name' [disabled]='submitting'></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon slot='start' name='pricetag'></ion-icon>
    <ion-select interface='popover'  placeholder='Choose a category' formControlName='categoryId'>
      <ion-select-option role='option' *ngFor="let category of categories" [value]="category.id">{{category.name}}>
      </ion-select-option>
    </ion-select>
    <ion-button color="danger" slot='end' (click)='showCategoryModal ()' >
      <ion-icon slot='icon-only' name='add'></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-icon slot='start' name='cash-outline'></ion-icon>
    <ion-input type='number' inputmode='decimal' placeholder="Enter the amount in CHF" step="0.10" formControlName="amount"></ion-input>
    <ion-note slot='end'>CHF</ion-note>
  </ion-item>
  <ion-item>
    <ion-icon slot='start' name="calendar-number-outline"></ion-icon>
    <ion-datetime-button datetime='datetime'></ion-datetime-button>
    <ion-modal>
      <ng-template>
        <ion-datetime color="primary" presentation='date' id='datetime' formControlName='date'> <span slot="title">Select the purchase date</span> </ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <ion-fab slot='fixed' vertical='bottom' horizontal='end'>
    <ion-fab-button (click)='delete()' color='danger'>
      <ion-icon name='trash-outline'></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
