<!-- Header -->
<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-progress-bar *ngIf="submitting" type="indeterminate"></ion-progress-bar>
    <ion-buttons slot="start" (click)="cancel()">
      <ion-button color="medium" (click)="cancel()" [disabled]="submitting">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
        Cancel
      </ion-button>
      <ng-template>Expense hinzufügen</ng-template>
    </ion-buttons>
    <ion-title>
      <div *ngIf="expense.id; else elseBlock">Edit Expense</div>
      <ng-template #elseBlock>Add Expense</ng-template>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="expenseForm.pristine || expenseForm.invalid || submitting">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Content -->
<ion-content class="ion-padding">
  <!-- Formular zur Erstellung einer Ausgabe -->
  <form [formGroup]="expenseForm" (ngSubmit)="save()">
    <ion-item>
      <ion-label position="start">Name:</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
      <div *ngIf="expenseForm.get('name')?.hasError('required')" class="error-message">
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="start">Category:</ion-label>
      <ion-select formControlName="categoryId" interface="popover" placeholder="Choose a category">
        <ion-select-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</ion-select-option>
      </ion-select>
      <ion-button color="danger" slot="end" (click)="showCategoryModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="start">Amount (CHF):</ion-label>
      <ion-input formControlName="amount" type="number" inputmode="decimal" step="0.10"></ion-input>
      <ion-note slot="end">CHF</ion-note>
    </ion-item>
    <ion-item>
      <ion-label position="start">Date</ion-label>
      <ion-datetime-button datetime="datetime" position="start"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-button type="submit" expand="full" [disabled]="expenseForm.invalid || submitting">Create Expense</ion-button>
  </form>
</ion-content>

  <ion-fab slot='fixed' vertical='bottom' horizontal='end'>
    <ion-fab-button (click)='delete()' color='danger'>
      <ion-icon name='trash-outline'></ion-icon>
    </ion-fab-button>
  </ion-fab>

