<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>
<ion-grid>
  <ion-col>
      <ion-list>
        <ion-item>
          <ion-searchbar>
          <ion-label>
            <ion-icon name="swap-vertical" size="large"></ion-icon> Name (A-Z)</ion-label>
          <ion-select interface="popover" label="Name A-Z">
            <ion-select-option value="name_a-z">Name (A-Z)</ion-select-option>
            <ion-select-option value="name_z-a">Name (Z-A)</ion-select-option>
            <ion-select-option value="newest">Created at (newest first)</ion-select-option>
            <ion-select-option value="oldest">Created at (oldest first)</ion-select-option>
          </ion-select>
          </ion-searchbar>
        </ion-item>
      </ion-list>
  </ion-col>
</ion-grid>
<ion-content>
  <h3>Markierung</h3>
</ion-content>
