<div class="custom-modal">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button> CANCEL </ion-button>
      </ion-buttons>
      <ion-title>Add category</ion-title>
      <ion-buttons slot="end">
        <ion-button> SAVE </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item lines="none">
      <ion-label position="floating">Enter the category's name</ion-label>
      <ion-input placeholder="Enter the category's name"></ion-input>
    </ion-item>
  </ion-content>
</div>
